.new-task{
  border: 1px solid black;
  padding: 10px;
}
.contaner{
  border: 1px solid black;
  width: 40%;
  padding: 10px;
}

.task-detail{
  border: 1px solid black;
  padding: 10px;
  background-color: bisque;
  margin-top: 10px;
}

.inputtho{
  background-color: rgb(70, 241, 70);
  border: 0px;
  color: white;
  padding: 5px;
  width: 60px;
  margin: 10px;
}
.thummo{
  margin: 5px;
}
